<ion-view title="Home" id="page2" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <div class="list" id="home-card21">
            <ion-item class="item-divider" style="border:none; color: black;" id="home-list-item-divider48">
                Juntadas Coordinadas
            </ion-item>
            <ion-item class="item-icon-right" id="home-list-item98" ui-sref="tabsController.arrangedJuntada()">
                Reunion TP
            <span class="item-note">Mie 27 - 09 -17 / 15:30 - 18:30</span>
            <i class="icon ion-android-sunny"></i>
            </ion-item>
            <ion-item class="item-divider"  style="border-color:white; color: black;" id="home-list-item-divider49">
                Juntadas en Coordinación
            </ion-item>
            <ion-item class="item-icon-right" id="home-list-item103" ui-sref="tabsController.phaseA()">
                Ensayo 4tet
                <span class="item-note">
                    2do intento
                </span>
                <i class="icon ion-android-calendar"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="home-list-item104" ui-sref="tabsController.phaseB()">
                Birrita con lo pibe
                <i class="icon ion-android-time"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="home-list-item107" ui-sref="tabsController.themeExample()">
                Ensamble Contemporaneo
                <span class="item-note">3er intento</span>
            <i class="icon ion-android-calendar"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive" id="home-list-item108" ui-sref="tabsController.votation()">
                Produ disco
                <span class="item-note">
                    en votacion...
                </span>
                <i class="icon ion-android-time"></i>
            </ion-item>
            <!--<a ui-sref="tabsController.addJuntadaDataStep()" id="home-button3" style="border-radius:1px 1px 1px 1px;" class="button button-dark button-block icon-left ion-android-add-circle">Añadir Juntada</a>-->
            <div class="content-margin"></div>
        </div>
        <!-- scrollable element -->
        <div fab-scroll-container>
        </div>
        <!-- ion-fab directive must be after scrollable element -->
        <a href="#page1/page3">
            <ion-fab class="ion-plus" id="fab">
            </ion-fab>
        </a>
  </ion-content>
</ion-view>